<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ9e83yJxXr3BLqk-Q1xmPeuNNs7ZQhZY</string>
	<key>GCM_SENDER_ID</key>
	<string>483167967535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connetapplications.Fitnext</string>
	<key>PROJECT_ID</key>
	<string>fitnext-ad7c1</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnext-ad7c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483167967535:ios:1ed6567491cf86cb71a9da</string>
</dict>
</plist>